<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="config-firebase.html">

<dom-module id="data-manager">
	<template>
		<style>
			:host {
				display: block;
			}
		</style>
		<!-- <h2>Hello [[prop1]]!</h2> -->
		<iron-ajax id="ajax"	
			url="https://api.chucknorris.io/jokes/random"
			params='{}'
			handle-as="json"
			on-response="generateResponse"
			on-error="generateResponse"
			>
		</iron-ajax>
	</template>

	<script>
		/**
		 * `data-manager`
		 * Data Manager
		 *
		 * @customElement
		 * @polymer
		 * @demo demo/index.html
		 */
		class DataManager extends Polymer.Element {
			static get is() { return 'data-manager'; }
			static get properties() {
				return {
					prop1: {
						type: String,
						value: 'data-manager'
					},
					users: {
						type: Array,
						value: [
							{
								email: "user@user.com",
								password: "user"
							}
						]
					}
				};
			}

			connectedCallback(){
				super.connectedCallback();
			}

			/**
			 * Método de registro
			 * @param email String usuario
			 * @param password String password
			 * Añade a una BD en firebase el usuario
			 * @event dm-register-event
			 * detail: 200, 'Successful-registration' || 400, error.message
			 * @return true
			 */
			_registerUser(email, password) {
				let that = this;

				firebase.auth().createUserWithEmailAndPassword(email, password)
				.then(function(user){
					console.log('Registro ok');
					that.dispatchEvent(new CustomEvent('dm-register-event', {
						detail: {
							status: 200,
							message: 'Successful-registration'
						},
						bubbles: true,
						composed: true
					}));
				})
				.catch(function(error) {
					console.log('Error al registro');
					that.dispatchEvent(new CustomEvent('dm-register-event', {
						detail: {
							status: 400,
							message: error.message
						},
						bubbles: true,
						composed: true
					}));
				});
				return true;
			}

			/**
			 * Método de validación de usuario
			 * @param email String usuario
			 * @param password String password
			 * Verifica en la BD de firebase si existe el usuario
			 * @event 'dm-validate-event'
			 * detail: 200, 'successful-validation' || 400, error.message
			 * @return true
			 */
			_validateUser(email, password) {
				let that = this;
		
				firebase.auth().signInWithEmailAndPassword(email, password)
					.then(function(user){
						console.log('Login ok');
						that.dispatchEvent(new CustomEvent('dm-validate-event', {
							detail: {
								status: 200,
								message: 'successful-validation'
							},
							bubbles: true,
							composed: true
						}));
					})
					.catch(function(error) {
						console.log('Login fallido');
						that.dispatchEvent(new CustomEvent('dm-validate-event', {
							detail: {
								status: 400,
								message: error.message
							},
							bubbles: true,
							composed: true
						}));
					});
				return true;	
			}

			/**
			 * Método para responder el chat
			 * Invoca a iron-ajax
			 * Como callback del Iron-ajax ejecta al generateResponse
			 * @return true
			 */
			_responseChat() {
				this.$.ajax.generateRequest();
				return true;
			}

			/**
			 * Método para enviar la respuesta del iron-ajax mediante un método
			 * Es invocado por iron-ajax una vez que se se ha completado la promesa
			 * @event 'dm-response-event'
			 * detail: 200, message.value || 400, Chuck Norris está durmiendo, no moleste.
			 * @return true
			 */
			generateResponse(event){
				console.log("ccb");
				const message = event.detail.response;
				const errorMessage = 'Chuck Norris está durmiendo, no moleste.';
				
				if (event.type === 'response'){
					console.log(message.value);
					this.dispatchEvent(new CustomEvent('dm-response-event', {
						detail: {
								status: 200,
								message: message.value
							},
						bubbles: true,
						composed: true
					}));
				} else {
					console.log(errorMessage);
					this.dispatchEvent(new CustomEvent('dm-response-event', {
						detail: {
								status: 400,
								message: errorMessage
							},
						bubbles: true,
						composed: true
					}));
				}
				return true;
			}
		}

		window.customElements.define(DataManager.is, DataManager);
	</script>
</dom-module>
